{% extends "template.html" %} {% load static %} {% block title%} {{title}}
{%endblock %} {% block css_link %}
<link
  href="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
  type="text/css"
/>
<link rel="stylesheet" href="{% static 'mappa/css/map.css' %}" />
{% endblock %} {% block script %}
<script type="text/javascript" src="{% static 'eventi/js/event.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<script>
  var eventi = JSON.parse("{{ eventi_json | escapejs }}");
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
{% endblock %} {% block content %}
<main>
  <div id="map" style="width: 100vw; height: 100vh"></div>
  {% for event in eventi %}
  <div class="card" id="event_{{event.pk}}">
    <div class="small-card card_general">
      <a href="/eventi/{{event.id}}" class="card-link"></a>
      <div class="card-header">
        <img
          src="{{event.get_image_url}}"
          alt="event_photo"
          width="60px"
          class="skeleton"
        />
        <div class="card-info">
          <h3 class="title skeleton">{{event.name}}</h3>
          <div class="location skeleton">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
            >
              <path
                fill="#D3D3D3"
                d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"
              />
            </svg>
            <a class="location-name">{{event.location}}</a>
          </div>
          <div class="date skeleton">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M96 32V64H48C21.5 64 0 85.5 0 112v48H448V112c0-26.5-21.5-48-48-48H352V32c0-17.7-14.3-32-32-32s-32 14.3-32 32V64H160V32c0-17.7-14.3-32-32-32S96 14.3 96 32zM448 192H0V464c0 26.5 21.5 48 48 48H400c26.5 0 48-21.5 48-48V192z"
              />
            </svg>
            <a class="date-data">{{event.data_evento_formattata}}</a>
          </div>
          {% if event.is_free %}
          <h3 class="price skeleton">Gratis</h3>
          {% else %}
          <h3 class="price skeleton">{{event.format_price}}</h3>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <script type="text/javascript" src="{% static 'mappa/js/map.js' %}"></script>
</main>
{% endblock %}
