@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap");

footer {
  display: none !important;
}

:root {
  --colore_primario: #fccd22;
  --colore_secondario: #1e275c;
  --colore_smooth: rgba(30, 39, 92, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-bottom: 50px;
}

body {
  background-image: url("../../bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow-x: scroll;
  font-family: "Oswald", sans-serif;
  color: #fff;
  max-width: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

a {
  text-decoration: none;
  color: inherit;
}

.blur_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 39, 92, 0.5);
  backdrop-filter: blur(10px);
  z-index: 1;
}

@media (max-width: 768px) {
  .scrollable {
    width: 100%;
  }
}
.scrollable {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.header_image {
  width: 100%;
  height: 32%;
  position: relative;
  z-index: 2;
  cursor: pointer;
  /* !   overflow: hidden; */
}

.header_image .back {
  position: absolute;
  width: 7%;
  fill: #fff;
  z-index: 20;
  top: 0;
  right: 0;
  cursor: pointer;
  margin: 15px 20px 0px 0px;
}

.header_image .back a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header_image img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
  box-shadow: 0px 2.8px 2.2px rgba(0, 0, 0, 0.045),
    0px 6.7px 5.3px rgba(0, 0, 0, 0.065), 0px 12.5px 10px rgba(0, 0, 0, 0.08),
    0px 22.3px 17.9px rgba(0, 0, 0, 0.095),
    0px 41.8px 33.4px rgba(0, 0, 0, 0.115), 0px 100px 80px rgba(0, 0, 0, 0.16);
}

.partecipants {
  position: relative; /* aggiungi questa regola */
  left: 0; /* imposta il left a 0 per far iniziare la div dall'inizio della pagina */
  width: 100%; /* imposta la larghezza a 100% per far occupare tutta la larghezza della pagina */
}

.profile_images {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 32px 0px 0px 0px;
}

.profile_images img,
.others_friends {
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 1px solid var(--colore_primario);
  box-shadow: 0px 2.8px 2.2px rgba(0, 0, 0, 0.045),
    0px 6.7px 5.3px rgba(0, 0, 0, 0.065), 0px 12.5px 10px rgba(0, 0, 0, 0.08),
    0px 22.3px 17.9px rgba(0, 0, 0, 0.095),
    0px 41.8px 33.4px rgba(0, 0, 0, 0.115), 0px 100px 80px rgba(0, 0, 0, 0.16);
}

.profile_images img:nth-child(1) {
  z-index: 5;
  left: 40px;
}

.profile_images img:nth-child(2) {
  left: 65px;
  z-index: 4;
}

.profile_images img:nth-child(3) {
  left: 90px;
  z-index: 3;
}

.profile_images div:nth-child(4) {
  left: 115px;
  z-index: 2;
}

.profile_images div:nth-child(5) {
  position: relative;
  left: 168px;
  z-index: 50;
}

.others_friends {
  display: flex;
  background-color: var(--colore_secondario);
  align-items: center;
  justify-content: center;
  padding-bottom: 0.3rem;
  padding-left: 9px;
}

.main_info {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-top: 32px;
}

.title_n_image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px 15px 40px;
  position: relative;
  z-index: 300;
}

.title_n_image .image img {
  position: relative;
  background-color: black;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  object-fit: cover;
  box-shadow: 0px 2.8px 2.2px rgba(0, 0, 0, 0.045),
    0px 6.7px 5.3px rgba(0, 0, 0, 0.065), 0px 12.5px 10px rgba(0, 0, 0, 0.08),
    0px 22.3px 17.9px rgba(0, 0, 0, 0.095),
    0px 41.8px 33.4px rgba(0, 0, 0, 0.115), 0px 100px 80px rgba(0, 0, 0, 0.16);
}

.title_n_image .title {
  color: white;
  font-weight: 500;
  font-size: 40px;
  text-shadow: 0px 2.8px 2.2px rgba(0, 0, 0, 0.045),
    0px 6.7px 5.3px rgba(0, 0, 0, 0.065), 0px 12.5px 10px rgba(0, 0, 0, 0.08),
    0px 22.3px 17.9px rgba(0, 0, 0, 0.095),
    0px 41.8px 33.4px rgba(0, 0, 0, 0.115), 0px 100px 80px rgba(0, 0, 0, 0.16);
  z-index: -10;
  padding-right: 20px;
}

.main_info .infos {
  position: relative;
  margin: 0px 40px;
}

.main_info .infos .single_info svg {
  height: 30px;
  width: 30px;
}

.main_info .infos .single_info {
  position: relative;
  display: flex;
  padding-bottom: 10px;
}

.main_info .infos .single_info .text {
  color: #d3d3d3;
  padding-bottom: 7px;
  padding-left: 13px;
  font-size: 20px;
  font-weight: 400;
}

.description {
  position: relative;
  margin: 10px 40px 30px 40px;
  padding: 18px 0px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

#profile-link {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

/* ! =================== MAPPA =================================== */

.map_container {
  height: 160px;
  object-fit: cover;
  margin: 0px 40px 140px 40px;
  width: -webkit-fill-available;
}

.map_container .map {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 2px solid var(--colore_primario);
  border-radius: 15px;
}

.map_container .point-marker {
  background-color: var(--colore_primario);
  border-radius: 50%;
  border: 2px solid var(--colore_secondario);
  top: -54%;
  left: 47%;
  z-index: 1;
  height: 24px;
  width: 24px;
  position: relative;
}

.map_container .time {
  top: -88px;
  left: -15px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.map_container .address {
  bottom: 141px;
  left: 14px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.map_container .icon p {
  padding-top: 5px;
}

.map_container .disclaimer {
  color: var(--colore_primario);
  top: -174px;
  left: 34%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.map-infos a {
  color: var(--colore_primario);
  height: 100%;
  display: block;
}

.map_container .map-infos {
  position: relative;
  top: -165px;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.map_container .icon img {
  height: 24px;
  width: 24px;
  position: relative;
}

.skeleton {
  position: relative;
}

.skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: linear-gradient(90deg, #eee, #d6d6d6, #eee);
  background-size: 200%;
  animation: skeleton 1s infinite reverse;
}

@keyframes skeleton {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.icon {
  fill: #d3d3d3;
}

/* ! =================== BUTTONS =================================== */

.action-buttons-container {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 140px;
  width: 100%;
  display: grid;
  align-content: center;
  background: linear-gradient(
    180deg,
    rgba(30, 39, 92, 0) 0%,
    rgba(30, 39, 92, 0.93) 105%,
    #1e275c 100%
  );
  background-blend-mode: darken;
  z-index: 310;
}

.action-buttons {
  position: relative;
  align-content: center;
  display: flex;
  justify-content: space-evenly;
}

.action-buttons .button, .button {
  position: relative;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--colore_primario);
  color: var(--colore_secondario);
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.action-buttons img {
  height: 24px;
  width: 24px;
}

/* ! =================== FRIEND LIST =================================== */

#friends-list {
  height: 80vh;
  width: 100%;
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: column;
  background-color: #1e275c;
  bottom: 0px;
  overflow: hidden;
  border-radius: 30px 30px 0px 0px;
  align-items: flex-start;
  padding: 35px 30px;
  transform: translateY(
    100%
  ); /* Posiziona la div appena al di fuori dello schermo */
  transition: transform 0.5s ease-in-out; /* Effetto di transizione */
}

#friends-list h2 {
  margin: 0px 0px 30px 0px;
  font-weight: 500;
}

#friends-list a {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0px;
}

.friend-profile {
  height: 60px;
  width: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid white;
}

.friend-info {
  margin: 0px 25px;
}

.friend-name {
  font-weight: 400;
  font-size: large;
}

.friend-username {
  font-weight: 100;
}

/* ! =================== TICKET CHECKOUT =================================== */

.ticket-purchase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 500;
  position: absolute;
  width: 100%;
  height: 80%;
  background: #1e275ce8;
  bottom: 0px;
  backdrop-filter: blur(13px);
  border-radius: 35px 35px 0px 0px;
}

.ticket-purchase-container h2 {
  font-weight:400;
  margin: 20px;
}

.ticket-option {
  background-color: #ffe790;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
  color: var(--colore_secondario);
  width: 70%;
  font-size: larger;

}

.decrease {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  background: var(--colore_secondario);
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.increase {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  background: var(--colore_primario);
  color: var(--colore_secondario);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticket-option input {
  background: none;
  border: none;
  width: 25px;
  text-align-last: center;
  font-family: Oswald;
  font-weight: 400;
  font-size: large;
}

.ticket-type {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #00000036;
}

.quantity-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quantity-selector svg {
  height: 17px;
  width: 17px;
}

.decrease svg {
  fill: white;
}

.bottom-infos {
  position: fixed;
  bottom: 0px;
  background: var(--colore_secondario);
  height: 31%;
  width: 100%;
  box-shadow: 0px 0px 4.3px rgba(0, 0, 0, 0.031),
0px 0px 10.2px rgba(0, 0, 0, 0.044),
0px 0px 19.3px rgba(0, 0, 0, 0.055),
0px 0px 34.4px rgba(0, 0, 0, 0.066),
0px 0px 64.3px rgba(0, 0, 0, 0.079),
0px 0px 154px rgba(0, 0, 0, 0.11);
  text-align: -webkit-center;
  border-radius: 30px 20px 0px 0px;
}

.total-amount {
  display: flex;
  flex-direction: column;
  margin: 30px 0px 20px 0px;
}

.total-amount label {
  font-weight: 300;
  font-size: larger;
}

.total-amount span {
  font-size: x-large;
}

.purchase-button {
  text-align: -webkit-center;
  font-size: 25px;
  font-weight: 400;
  padding: 7px;
}

.bottom-infos .infos {
  width: 70%;
  text-align: left;
}