{% extends "template.html" %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}

{% block css_link %}
<link rel="stylesheet" type="text/css" href="{% static '/utenti/css/profile_page.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}" />
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}
<main>
  <div class="cover">
    {% if profile_user.role == 'utente_base' %}
      {% if profile_user.utente_base.cover_img.url %}
        <img src="{{ profile_user.utente_base.cover_img.url }}" alt="cover" id="edit_cover_img"/>
      {% else %}
        <img src="{% static '/cover.jpg' %}" alt="cover" id="edit_cover_img"/>
      {% endif %}
    {% else %}
      {% if user.utente_organizzatore.cover_img.url %}
          <img src="{{ user.utente_organizzatore.cover_img.url }}" alt="cover" id="edit_cover_img"/>
      {% else %}
          <img src="{% static '/cover.jpg' %}" alt="cover" id="edit_cover_img"/>
      {% endif %}
    {% endif %}
  </div>

  <div class="infos">
    <div class="profile-image">
      {% if profile_user.role == 'organizzatore' %}
        <img src="{{ profile_user.utente_organizzatore.img.url }}" alt="cover" style="border: 2px solid var(--colore_primario);" />
      {% else %}
        <img src="{{ profile_user.utente_base.img.url }}" alt="cover" />
      {% endif %}
    </div>

    <div class="profile-info">
      <div class="title">
        <div class="title-auto">
          {% if profile_user.role == 'organizzatore' %}
            <h1>{{ profile_user.utente_organizzatore.nome }}</h1>
            <img src="{% static 'circle-check-solid.svg' %}" />
          {% else %}
            <h1>{{ profile_user.first_name }}</h1>
          {% endif %}
        </div>
        <h3>@{{ profile_user.username }}</h3>
      </div>

      <div class="others-info">
        <div class="events">
          {% if profile_user.role == 'organizzatore' %}
            <h3>Eventi</h3>
          {% else %}
            <h3>Eventi</h3>
          {% endif %}
          <p>{{ tot_events }}</p>
        </div>
        <div class="events">
          {% if profile_user.role == 'organizzatore' %}
            <h3>Followers</h3>
          {% else %}
            <h3>Amici</h3>
          {% endif %}
          <p>{{ friends_number }}</p>
        </div>
      </div>
      {% if user.is_authenticated %}
      {%if user == profile_user %}
        {% if profile_user.role == 'organizzatore' %}
          <div class="buttons action-buttons org-btns">
            <a href="{% url 'edit_profile_organizer' username=user.username %}">
              <button type="button">Modifica profilo</button>
            </a>
            <div class="lower-btn">
              <div class="buttons add-event">
                <a href="{% url 'eventi:add_event' %}">
                  <img src="{% static 'calendar-plus-regular.svg' %}" alt="Add Event" />
                </a>
              </div>
              <div class="buttons logout">
                <a href="/user/logout">
                  <img src="{% static 'right-from-bracket-solid.svg' %}" alt="Logout" />
                </a>
              </div>
            </div>
          </div>
        {% else %}
          <div class="buttons action-buttons">
            <a href="{% url 'edit_profile' username=user.username %}">
              <button type="button">Modifica profilo</button>
            </a>
            <div class="buttons logout">
              <a href="/user/logout">
                <img src="{% static 'right-from-bracket-solid.svg' %}" alt="Logout" />
              </a>
            </div>
          </div>
        {% endif %}
        {% else %}
        <div class="buttons action-buttons org-btns">
          <a href="/chat/start/{{profile_user.pk}}/">
            <button type="button">Messaggio</button>
          </a>
        </div>
        {% endif %}
      {% endif %}
    </div>
    {% if user.is_authenticated and user != profile_user %}
      {% if friend_request_status == 0 %}
      <div class="friend_request">
        <button type="button" id="friend_request_btn">
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/></svg>
          Aggiungi agli amici
        </button>
      </div>
      {% elif friend_request_status == 1 %}
      <div class="friend_request">
        <button type="button" id="friend_request_btn">
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M224 0a128 128 0 1 1 0 256A128 128 0 1 1 224 0zM178.3 304h91.4c20.6 0 40.4 3.5 58.8 9.9C323 331 320 349.1 320 368c0 59.5 29.5 112.1 74.8 144H29.7C13.3 512 0 498.7 0 482.3C0 383.8 79.8 304 178.3 304zM352 368a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-80c-8.8 0-16 7.2-16 16v64c0 8.8 7.2 16 16 16h48c8.8 0 16-7.2 16-16s-7.2-16-16-16H512V304c0-8.8-7.2-16-16-16z"/></svg>
          Richiesta inviata
        </button>
      </div>
      {% elif friend_request_status == 2 %}
      <div class="friend_request">
        <button type="button" id="friend_request_btn">
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM625 177L497 305c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L591 143c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
          Amici
        </button>
      </div>
      {% endif %}
    {% endif %}
  </div>
  


  {% if user.is_authenticated and user == profile_user and user.role != 'organizzatore' %}
    <div class="show-option-auto">
      <p>Eventi futuri privati</p>
      <div class="tooltip">
        <img src="{% static 'circle-question-solid.svg' %}" />
        <span class="tooltiptext">Questa impostazione rende privati gli eventi futuri a cui decidi di partecipare, garantendo la tua privacy.</span>
      </div>
      <label class="switch">
        <input id="private-events-toggle" type="checkbox" {% if user.utente_base.private_future_events %}checked{% endif %} />
        <span class="slider"></span>
      </label>
    </div>
  {% endif %}

  {% if tot_events != 0 %}
    {% if eventi_fut|length != 0 %}
      <div class="events int lock-section">
        <div class="show-option-auto">
          <h3>Eventi futuri</h3>
          {% if profile_user.role != 'organizzatore' %}
            {% if user.is_authenticated and user.username == profile_user.username %}
            {% elif user != profile_user and profile_user.utente_base.private_future_events == True %}
              <div class="tooltip">
                <img src="{% static 'circle-question-solid.svg' %}" />
                <span class="tooltiptext">L'utente ha deciso di rendere privati i suoi eventi futuri.</span>
              </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
      
      {% if profile_user.role != 'organizzatore' %}
        {% if user != profile_user and profile_user.utente_base.private_future_events == True %}
          <div class="events_hor_scroller">
            <div class="card card_general hidden-card">
              <figure class="card-image">
                <img id="lock-icon" src="{% static 'eye-slash-solid.svg' %}" />
                <img class='blurry' src="{% static 'blurry-image-bg.jpg' %}" alt="event_photo" />
              </figure>
              <div class="card-header">
                <div class="left-col">
                  <h3 class="title blurry-text">Birichino</h3>
                  <div class="location">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                      <path fill="#D3D3D3" d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" />
                    </svg>
                    <a class="location-name blurry-text">Altrove</a>
                  </div>
                </div>
                <div class="right-col">
                  <h3 class="price">???</h3>
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <div class="events_hor_scroller">
            {% for event in eventi_fut %}
            <div class="card card_general">
              <div class="general-card-img">
                <div class="day-info">
                  <p class="day">{{event.get_day}}</p>
                  <p class="month">{{event.get_month}}</p>
                </div>
                <figure class="card-image">
                  <img src="{{event.get_image_url}}" alt="event_photo" />
                </figure>
              </div>
              <div class="card-header">
                <div class="left-col">
                  <h3 class="title">{{event.name}}</h3>
                  <div class="location">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                      <path fill="#D3D3D3" d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" />
                    </svg>
                    <a class="location-name">{{event.location}}</a>
                  </div>
                </div>
                <div class="right-col">
                  {% if event.is_free %}
                  <h3 class="price">Gratis</h3>
                  {% else %}
                  <h3 class="price">{{event.format_price}}</h3>
                  {% endif %}
                </div>
                <a href="/eventi/{{event.id}}" class="card-link"></a>
              </div>
            </div>
            {% endfor %}
          </div>
        {% endif %}
      {% else %}
        <div class="events_hor_scroller">
          {% for event in eventi_fut %}
          <div class="card card_general">
            <div class="general-card-img">
              <div class="day-info">
                {% if event.is_today %}
                  <p class="day">Oggi</p>
                {% else %}
                  <p class="day">{{event.get_day}}</p>
                  <p class="month">{{event.get_month}}</p>
                {% endif %}
              </div>
              <figure class="card-image">
                <img src="{{event.get_image_url}}" alt="event_photo" />
              </figure>
            </div>  
            <div class="card-header">
              <div class="left-col">
                <h3 class="title">{{event.name}}</h3>
                <div class="location">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                    <path fill="#D3D3D3" d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" />
                  </svg>
                  <a class="location-name">{{event.location}}</a>
                </div>
              </div>
              <div class="right-col">
                {% if event.is_free %}
                <h3 class="price">Gratis</h3>
                {% else %}
                <h3 class="price">{{event.format_price}}</h3>
                {% endif %}
              </div>
              <a href="/eventi/{{event.id}}" class="card-link"></a>
            </div>
          </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endif %}

    {% if eventi_pass|length != 0 %}
      <div class="events int">
        <h3>Eventi passati</h3>
      </div>
      <div class="events_hor_scroller">
        {% for event in eventi_pass %}
        <div class="card card_general">
          <div class="general-card-img">
            <div class="day-info">
              <p class="day">{{event.get_day}}</p>
              <p class="month">{{event.get_month}}</p>
            </div>
            <figure class="card-image">
              <img src="{{event.get_image_url}}" alt="event_photo" />
            </figure>
          </div>
          <div class="card-header">
            <div class="left-col">
              <h3 class="title">{{event.name}}</h3>
              <div class="location">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                  <path fill="#D3D3D3" d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" />
                </svg>
                <a class="location-name">{{event.location}}</a>
              </div>
            </div>
            <div class="right-col">
              {% if event.is_free %}
              <h3 class="price">Gratis</h3>
              {% else %}
              <h3 class="price">{{event.format_price}}</h3>
              {% endif %}
            </div>
            <a href="/eventi/{{event.id}}" class="card-link"></a>
          </div>
        </div>
        {% endfor %}
      </div>
    {% endif %}
  {% else %}
    <div class="no-events" style="margin-top:150px">
      Non ci sono eventi da mostrare
    </div>
  {% endif %}
  <script>
    var profileUsername = "{{ profile_user.username }}";
  </script>
  <script src="{% static 'utenti/js/profile_page.js' %}"></script>
</main>
{% endblock %}